# Ambiente virtuale
venv/
env/
training_data

# Cache di Python
__pycache__/
*.pyc
*.pyo

# File di configurazione locali e credenziali
.env
config.json
secret.py
credentials.json

# Cartelle degli IDE
.idea/
.vscode/

#dati raccolti
training_data
