# Ambiente virtuale
venv/
env/

# Cache di Python
__pycache__/
*.pyc
*.pyo

# File di configurazione locali e credenziali
.env
config.json
secrets.json
credentials.json  # aggiunto per sicurezza

# Cartelle degli IDE
.idea/
.vscode/
